{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
                <h1>Todos</h1>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                <button id="checkAll" class="btn btn-success">Mark all as done</button>

                <hr>
                <ul id="sortable" class="list-unstyled">
                    {% for item in list %}
                        {% if item.completed != 1 %}
                        <li class="ui-state-default">
                            <div class="checkbox row">
                                <div class="col-md-10">
                                    <label id="todo_label-label-{{ item.id }}">
                                        <input id="{{  item.id }}" type="checkbox" value="{{  item.id }}" />{{  item.todoLabel }}
                                    </label>
                                    <input type="text" class="form-control todo_label" name="todo_label" data-id="{{  item.id }}" id="todo_label-input-{{ item.id }}" value="{{ item.todoLabel }}" style="display: none">
                                </div>
                                <div class="col-md-2"><button class="edit-item btn btn-default btn-xs pull-right" data-id="{{  item.id }}"><span class="glyphicon glyphicon-edit"></span></button></div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
                <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    {% for item in list %}
                        {% if item.completed == 1 %}
                            <li>{{  item.todoLabel }} <button class="remove-item btn btn-default btn-xs pull-right" id="{{ item.id }}"><span class="glyphicon glyphicon-remove"></span></button></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
